.sidebar {
  &__title {
    font-weight: 700;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--gray-200);
    position: relative;
    font-size: 24px;
    padding-bottom: 10px;
  }
  &__price {
    margin-bottom: 50px;
    &__filter {
      background: var(--primary-color);
    }
    &__thumb {
      background: var(--primary-color);
    }
  }
  &__list {
    margin-bottom: 30px;
    &__item {
      font-weight: 500;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      &.active {
        color: var(--primary-color);
      }
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
