.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding-top: 30px;
    height: 100px;
  }
  &__logo {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
  }
  &__nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    &__link {
      text-transform: uppercase;
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__cart {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: color 0.3s ease;
  }
}
